body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
body.light-mode {
    background-color: #f5f5f5;
}
body.dark-mode {
    background-color: #0b1416;
  }

.page-container {
display: flex;
justify-content: space-between;
}


.page-center {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding-right: 270px; /* Width of page-right + some extra space */
}

.page-right {
    position: fixed;
    right: 0px;
    width: 250px;
    margin-right: 0;
    margin-left: auto;
}

/* options */
.options {
    /* position: fixed; */
    float: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 900px) {
    .options {
        display: none;
    }
    .page-center {
      padding-right: 0; /* Remove the padding we added for the sidebar */
    }
    .page-right {
            /* For top positioning */
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto; /* Height will adjust to content */
        max-height: 50vh; /* Limit to half the viewport height */
    }
  }
.dark-mode svg {
    stroke: #fff;
}
.light-mode svg {
    stroke: #000;
}

/* links */
.dark-mode a:visited  {
    color: steelblue;
  }

/* Claude Ratin */
.card-rating {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
}
.light-mode .card-rating  {
    color: chocolate;
}
.dark-mode .card-rating  {
    color: burlywood;
}

/* page title */
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.light-mode h1  {
    color: #000;
}
.dark-mode h1  {
    color: #fff;
}
/* text: date title */
label {
}
.light-mode label  {
    color: #000;
}
.dark-mode label  {
    color: #fff;
}
/* text:*/
p {
}
.light-mode p  {
    color: #000;
}
.dark-mode p  {
    color: #fff;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card  {
    border-radius: 1em;
    box-shadow: 0 2px 4px #555;
    padding: 20px;
    max-width: 80vw; /* Set a maximum width of 80% of the viewport width */
    width: 100%; /* Make the card take up the full width of the container */
    transition: transform 0.3s ease, z-index 0.3s ease;
}
@media (min-width: 768px) {
    .card {
      max-width: 60vw; /* Reduce max-width to 60% of the viewport width for screens above 768px */
    }
  }
.card.expanded {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.light-mode .card  {
    background-color: #fff;
}
.dark-mode .card {
    background-color: #333;
}


/* card text */
.card-meta {
    font-size: 18px;
    margin-bottom: 10px;
}
.light-mode .card-meta  {
    color: #181c1f;
}
.dark-mode .card-meta {
    color: #EEF1F3;
}
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.light-mode .card-title  {
    color: #181c1f;
}
.dark-mode .card-title {
    color: #EEF1F3;
}


.card-image {
    width: 100%;
}
.card-content {
    font-size: 14px;
}
.light-mode .card-content {
    color: #555;
}
.dark-mode .card-content {
    color: #a5a5a5;
}

/* long text card */
.light-mode .card-selftext {
    color: #555;
}
.dark-mode .card-selftext {
    color: #B8C5C9;
}

.card-claudeReason {
    font-size: 14px;
    color: cornflowerblue;
}


/* big card */
.big-card {
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 16px;
    position: fixed;
    background-color: red;
    display: none;
}

#textfield-subreddit {
    color: blue;
    margin-bottom: 30px;
}




/* about page */

.about {
    text-align: left;
}


/* logo */

#logo-image-wrapper {
    text-decoration:none; /* remove underline from link */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Or any specific width */
}

#logo-img {
    border-radius: 15px;
    width: 75px;
    height: 75px;
}

#logo-text {
    padding-left: 20px;
}


/* text: powered by claude */
h4 {
    margin-bottom: 20px;
}
.light-mode h4  {
    color: #000;
}
.dark-mode h4  {
    color: #fff;
}