body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: 0.3s;
}
body.light-mode {
    background-color: #f5f5f5;
    transition: 0.3s;
}
body.dark-mode {
    background-color: #0b1416;
    transition: 0.3s;
  }

/* start: main components of page */
  .page-center {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    
    /*
    display: flex;
    flex-direction: column;  Stack cards vertically
    align-items: center;
    margin: 0 auto;
    padding-right: 270px; Width of page-right + some extra space */
}
.page-right {
    position: fixed;
    left: calc(50% + 360px);
    transition: transform 0.3s ease-in-out;
}

.page-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.page-container {
display: flex;
/* justify-content: space-between; */
}

video {
    width: 100%;
}

/* denylist on left side of screen */
#denylist {
    background: chocolate;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px #000;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
  }
#denylist-textfield {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.3em;
}
#denylist-input {
    flex-grow: 1;
  }
#denylist-input-button {
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.denylist-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
}
.denylist-button {
    margin-left: auto;
}

/* date picker on right side of screen */
#form-date {
    background: chocolate;
    padding: 1em;
    border-radius: 0.5em;
    flex-basis: 100%;
    display: flex;
    box-shadow: 0 2px 4px #000;
    margin-bottom: 1em;
}
#form-category {
    background: chocolate;
    padding: 1em;
    border-radius: 0.5em;
    flex-basis: 100%;
    display: flex;
    box-shadow: 0 2px 4px #000;
}


/* message at the bottom of text/or not found data on day */
#noDataMessage {
    display: flex;
    align-items: center;
    gap: 0;
    flex-flow: column;
    margin-top: 45px;
  }
#noDataMessageLogo {
    width: 5em;
    height: 5em;
}
#noDataMessage-text {
    text-align: center;
    margin-bottom: 20px;
}
.light-mode #noDataMessage-text  {
    color: #000;
}
.dark-mode #noDataMessage-text  {
    color: #fff;
}



.dark-mode svg {
    stroke: #fff;
}
.light-mode svg {
    stroke: #000;
}
.dark-mode .svg-always-light {
    stroke: #fff;
}
.light-mode .svg-always-light {
    stroke: #fff;
}

/* download android apk svg */
.dark-mode #android-logo-box {
    stroke: #000;
}
.light-mode #android-logo-box {
    stroke: #fff;
}


/* darkmode toggle checkbox */
#dark-mode-container {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}
input#darkModeToggle {
    width: 0;
    height: 0;
    visibility: hidden;
}
#darkModeLabelParagraph {
    cursor: pointer;
}
input#darkModeToggle:checked + label {
    background: #242424;
}
input#darkModeToggle:checked + label::after {
    left: 3em;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
label#darkModeLabel {
    width: 3em;
    height: 1.2em;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label#darkModeLabel::after {
    content: "";
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}



/* link colors from Wikipedia */
a {
    color: #6d8af2;
}
.dark-mode a:visited  {
    color: #977dbd;
  }
.light-mode a:visited  {
    color: #977dbd;
}

/* Claude Rating */
.card-rating {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.4em;
}
.light-mode .card-rating  {
    color: chocolate;
}
.dark-mode .card-rating  {
    color: chocolate; /* before: burlywood */
}
.card-rating-small {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
}
.light-mode .card-rating-small  {
    color: chocolate;
}
.dark-mode .card-rating-small  {
    color: chocolate; /* before: burlywood */
}

/* page title or About title page */
h1#logo-text {
    text-align: left;
    margin-bottom: 20px;
}
.light-mode h1#logo-text {
    color: #000;
}
.dark-mode h1#logo-text {
    color: #fff;
}
h1.about {
    text-align: left;
    margin-bottom: 20px;
}
.light-mode h1.about {
    color: #000;
}
.dark-mode h1.about {
    color: #fff;
}
/* text: date title */
label {
}
.light-mode label  {
    color: #fff;
}
.dark-mode label  {
    color: #fff; /* just in case I need to color it late. I think it should be white to accomidate the browser 'date' input which is normally white */
}
/* text

p {
}
*/
.light-mode p  {
    color: #000;
}
.dark-mode p  {
    color: #fff;
}

/* used only for r/ and u/

span {
}
*/
.light-mode span  {
    color: #000;
}
.dark-mode span  {
    color: #fff;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card  {
    border-radius: 1em;
    box-shadow: 0 2px 4px #555;
    padding: 20px;
    max-width: 600px;
    /* max-width: 80vw; Set a maximum width of 80% of the viewport width */
    /* width: 100%; /* Make the card take up the full width of the container */
    transition: transform 0.3s ease, z-index 0.3s ease;
}
@media (min-width: 768px) {
    .card {
      /* max-width: 60vw; /* Reduce max-width to 60% of the viewport width for screens above 768px */
    }
  }
.card.expanded {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.light-mode .card  {
    background-color: #fff;
}
.dark-mode .card {
    background-color: #333;
}

/* card gallery of images */
.button-arrowContainer {
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    right: 1em;
    border-radius: 1000px;
    background-color: black;
  }
.card-image-wrapper {
    position: relative;
}

/* card text */
.card-meta {
    font-size: 18px;
    margin-bottom: 10px;
}
.light-mode .card-meta  {
    color: #181c1f;
}
.dark-mode .card-meta {
    color: #EEF1F3;
}
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.light-mode .card-title  {
    color: #181c1f;
}
.dark-mode .card-title {
    color: #EEF1F3;
}


.card-image {
    width: 100%;
}
.card-content {
    font-size: 14px;
}
.light-mode .card-content {
    color: #555;
}
.dark-mode .card-content {
    color: #a5a5a5;
}

/*  video  */

.card-video-thumbnail {
    width: 100%;
    /* height: 100%; */
}
.card-video-playButton {
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    border-radius: 1000px;
    background-color: black;
    /* height: 100%; */
}


/* long text card */
.light-mode .card-selftext {
    color: #555;
}
.dark-mode .card-selftext {
    color: #B8C5C9;
}

.card-claudeReason {
    font-size: 14px;
}
.light-mode .card-claudeReason {
    color: chocolate;
}
.dark-mode .card-claudeReason {
    color: chocolate;
}
.card-warning {
    font-size: 16px;
    color: #000;
}
.light-mode .card-warning {
    color: #000;
}
.dark-mode .card-warning {
    color: #fff;
}
.card-flair {
    font-size: 16px;
    color: #fff;
}
.light-mode .card-flair {
    color: #000;
}
.dark-mode .card-flair {
    color: #fff;
}



/* big card */
.big-card {
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 16px;
    position: fixed;
    background-color: red;
    display: none;
}

#textfield-subreddit {
    color: blue;
    margin-bottom: 30px;
}




/* about page */

.about {
    text-align: left;
}
.page-about {
    min-width: 400px;
}


/* logo */

#logo-image-wrapper {
    text-decoration:none; /* remove underline from link */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Or any specific width */
}
#logo-img {
    border-radius: 15px;
    width: 75px;
    height: 75px;
    box-shadow: 0 2px 4px #555;
}
#logo-text {
    padding-left: 20px;
}
#android-logo {
    display: flex;
    justify-content: center;
    width: 50%;
}
#android-image {
    width: 100%;
}
/* text: powered by claude */
.text-left {
    margin-top: .75em;
    margin-bottom: 0px;
    width: 17em;
}
.light-mode .text-left  {
    color: #000;
}
.dark-mode .text-left  {
    color: #fff;
}


/* about page */
.about-card-container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px #555;
  }
  .light-mode  .about-card-container  {
    background: antiquewhite;
  }
  .dark-mode  .about-card-container  {
    background: #346;
  }
  
  /* Styles for larger desktops */

  @media (max-width: 1449px) {
    .page-left {
        width: 300px;
    }
  }
  
  /* Styles for medium-sized screens (tablets and smaller desktops) */
  @media (max-width: 1279px) {
    .page-left {
        width: 212px;
    }
    .text-left{
        width: 16em;
    }
  }

  /* Styles for smaller tablets and mobile */
@media (max-width: 1138px) {
    .card {
        max-width: 80vw;
    }
    .page-container {
        justify-content: center;
        flex-direction: column;
      }
    .page-left {
        width: 100%;
        padding-top: 9em;
        align-items: center;
        padding-right: 0px;
        flex: 1;
        margin-bottom: 1em;
    }
    .page-center {
        position: relative;
    }
    .page-right {
            /* For top positioning */
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto; /* Height will adjust to content */
        max-height: 50vh; /* Limit to half the viewport height */
        max-width: 100vw;
    }
    .page-right.hidden {
        transform: translateY(-100%);
      }
    .text-left {
        text-align: center;
    }
    #form-date {
        justify-content: center;
        text-align: center;
        border-radius: 0em;
        margin-bottom: -2px;
        box-shadow: none;
        padding-bottom: 0em;
    }
    #form-category {
        justify-content: center;
        text-align: center;
        border-radius: 0em;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        box-shadow: none;
    }
    #denylist {
        width: 70vw;
    }
    #android-logo {
        width: 30%;
    }
  }
  /* end: main components of page */



  p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    overflow-wrap: break-word; /* Modern browsers */
    word-break: break-word; /* For non-CJK text */
  }